* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.faq-section {
    /* background-color: red; */
    width: 100%;
    min-height: 450px; /* instead of height */
}

.faq-header {
    margin: 0 auto 75px;
    width: fit-content;
    font-size: 32px;
    list-style: 100%;
    letter-spacing: 0px;
    font-weight: 300;
    font-family: "Source Sans Pro", sans-serif;
}

.faq-header span {
    font-weight: 600;
    color: #C271FF;
    font-weight: 700;
}

.faq-grid {
  display: flex;
  justify-content: space-between;
  margin: 115px auto 87px;
  gap: 30px;
  max-width: 1151px;
}

.faq-item-1 {
    background-color: black;
    width: 255px;
    height: 150px;
}

.faq-item {
    width: 255px;
    height: 150px;
}

.faq-item-1 {
    background-image: url(9.png);
    background-size: cover;
    background-position: center;

}

.faq-item-2 {
    background-image: url(7.png);
    background-size: cover;
    background-position: center;
}

.faq-item-3 {
    background-image: url(8.png);
    background-size: cover;
    background-position: center;
}

.faq-item-4 {
    background-image: url(6.png);
    background-size: cover;
    background-position: center;
}

.faq-icon {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    position: relative;
}

.faq-icon img {
    width: 100%;
    height: 100%;
    margin: 45px auto 0px;
}

.faq-question {
    width: 116px;
    height: 20px;
    margin: 18px 126px 7.6px 13px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
}

.faq-answer {
    width: 242px;
    height: 48px;
    margin: 0px 0px 15px 13px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
}

.faq-question-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-question-1-img img {
    width: 30px;
    height: 30px;
    margin: 0px 2px 15px 13px;
}

.faq-question-1-name {
    width: 95px;
    height: 27px;
    margin: 0px 101px 15px 0px;
}

.faq-answer-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 107px;
    height: 15px;
    margin: 0px 8px 15px 13px;
}

.faq-answer-1 div {
    width: 34px;
    font-weight: 600;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color: #C271FF;
    margin-left: 79px;
}

