* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.membership-section {
    background-color: #071629;
    height: 502px;
    min-width: 100%;
    position: absolute;
}

.membership-header {
    margin: 70px auto 58px;
    width: 253px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
}

span {
    font-weight: bold;
    color: #a846ab;
}

.membership-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 181px;
    gap: 27px;
    max-width: 1100px;
}

.membership-card {
    width: 257px;
    height: 153px;
}

.membership-icon {
    width: 43.67px;
    height: 35.35px;
    margin: 0px auto 26.65px;
}

.membership-title {
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 13px;
}

.membership-description {
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    width: 212px;
    height: 52px;
    margin: 0px auto 0px;
    line-height: 26px;
}